@import "~@blueprintjs/core/lib/scss/variables";

html,
body {
  background-color: $light-gray3;
}

#root {
  display: flex;
  justify-content: center;
}

.root {
  width: 800px;
}

#logo {
  margin: 32px auto;
  text-align: center;
}

.editor-box {
  border: 2px solid $light-gray1;
  border-radius: 6px;
  background-color: white;
}

.toolbar {
  padding: 12px;
  border-bottom: 1px solid $light-gray1;
  display: flex;
}

.editable-container {
  padding: 12px;
  min-height: 80px;
}

.preview-box {
  border: 2px solid $light-gray1;
  border-radius: 6px;
  padding: 12px;
  margin-top: 48px;
  background-color: white;
}

p {
  display: inline-block;
}

span {
  display: inline-block;
}

.bp3-tag {
  margin-right: 12px;
  margin-bottom: 12px;
}

.recents {
  padding: 12px;
  border-top: 1px solid $light-gray1;
  padding-bottom: 0;
}
